@charset "utf-8";
/* CSS Document */

#doitra {
	border:#000 thick inset;
	margin-top: 45px;
	margin-left: 40px;	
	line-height:1.5;
	font-size: 18px;
}
#tieude{
	text-align: center;
	font-weight: bold;
	font-size:22px;
}
p{
	font-weight: bold;
	text-align: center;
	fon-size: 22px;
}
#baomat ul li{
	margin-left: 20px;
	margin-right: 40px;	
}